.panel-container {
    position: relative;
  }
  
  .panel {
    position: fixed;
    top: 0;
    right: -50%;
    width: 50%;
    height: 100vh;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: right 0.3s ease;
    overflow-x: hidden;
  }
  
  .panel.active {
    right: 0;
  }
  .cancel-icon {
    cursor: pointer;
  }
  
  /* App.css */
  